# ---- SYSTEM FILES ----
.DS_Store
__pycache__/
.ipynb_checkpoints/

# ---- TRAINING OUTPUTS ----
checkpoints/
results/
*.bin
*.pt
*.h5
*.ckpt
*.log
*.out

# ---- CACHE ----
cache/
huggingface/
tokenizer_config.json
trainer_state.json
runs/
wandb/

# ---- PYTHON ENVS ----
venv/
.env/
