# Core data handling
pandas==2.2.2
numpy==1.26.4

# Visualization
matplotlib==3.9.2

# Machine Learning
scikit-learn>=1.5.2

# NLP & Transformers
torch>=2.9.0
transformers>=4.45.1
datasets==3.0.1
tokenizers>=0.20.0

# Explainability
shap==0.45.1

# Utilities
tqdm==4.66.5
